@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Montserrat:wght@100;200&display=swap');


* {
  font-family: 'Montserrat';
  font-size: 18px;
  color: #7de7f5;
  background-color: #242526;
}

body {
  background-size: cover;
}

.bar {
  height: 15vw;
  width: 100vw;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.site-title {
  padding: 20px;
}

.nav-items {
  list-style-type: none;
  margin: 0 20px;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  border: 1px solid transparent;
  padding: 20px;
}

a:hover {
  background-color: #7de7f5;
  border: 1px solid #7de7f5;
  border-radius: 5px;
  color: #242526;
  margin: 0;
}

main {
  margin: 45px;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 28px;

}

.primary-button {
  text-decoration: none;
  border: 1px solid;
  border-color: #7de7f5;
  color: #7de7f5;
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
}

.primary-button:hover {
  background-color: #7de7f5;
  color: #242526;
}
  
.primary-button:active {
  margin-top: 5px;
}
